---
const { experiences } = Astro.props;
import ExperienceCard from './ExperienceCard.astro';
---
<section class="bg-white p-5 rounded-lg shadow-md mb-8">
  <h2 class="border-b pb-2 mb-4 text-lg font-medium">Experience</h2>
    {experiences.map((exps) => (
          <ExperienceCard 
            company={exps.company}
            position={exps.position}
            startDate={exps.startDate}
            endDate={exps.endDate}
            tasks={exps.tasks}
          />
        )
      )
    }
  <!-- <ExperienceCard 
    company="A5 Labs"
    position="Senior Golang Developer"
    startDate="Aug 2023"
    endDate="Now"
    tasks={["Integrated third-party mini-games into our platform.",
            "Developed Slack bot to receive slash command and integrated with infrastructures.",
            "Introduced code coverage, code linters and formatter to increase code quality and also make sure the code coverage rate over specific value for each service.",
            "Dockerize new creation and existing services.",
            "Migrated projects from Go 1.14.12 to Go 1.21.2. Removed redundant, unused modules to improve code hygiene."]}
  />

  <ExperienceCard 
    company="Binance"
    position="Senior Golang Developer"
    startDate="Nov 2021"
    endDate="Jul 2023"
    tasks={["Reduced Redis CPU utilization from 65% to 30% by grouping data to reduce 45% Redis commands and introducing in-memory cache mechanism.",
            "Optimised code size 25% - 30% and improving the code quality. Also increased code coverage rate from 72% to 90%.",
            "Used truss and mockery codegen tool created services template and mock testing template.",
            "Dockerize new creation and existing services.",
            "Migrated projects from Go 1.14.12 to Go 1.21.2. Removed redundant, unused modules to improve code hygiene.",
            "Supporting Multi-Tenancy and designing Workspace mechanism to separate 1st-Party and 3rd-Party Mini-Programs",
            "Designing campaign mission component. For fulfilling different mission requirements, collaborated with KYC and Referral teams.",
            "Cross function team collaboration, includes DevOps, Frontend, QA and other external services Backend teams."]}
  />

  <ExperienceCard 
    company="PhotoGrid"
    position="Senior Backend Developer"
    startDate="Jun 2021"
    endDate="Oct 2021"
    tasks={["Refactor existed codebase with MVC model and improving the code quality.",
            "Introduce code quality static checker (golangci-lint). Also introducing Common Vulnerabilities and Exposures checker (nancy) into CI.",
            "Introduce Hashicorp Vault to separate the keys, secrets out of codebase.",
            "Profile the RESTful APIs execution time with ELK and reduce the 20% response time with specified APIs."]}
  />

  <ExperienceCard 
    company="TrueTel"
    position="Senior Backend Developer"
    startDate="Jul 2019"
    endDate="May 2021"
    tasks={["Collaborating with Nauto cloud team via JIRA and Slack. Building micro-services, migrating RESTful APIs which with two versions JSON data format. Also built data record changes history APIs and RDBMS (PostgreSQL) data migration.",
            "Developing several user scenarios for Google MTBF, CUJ (Critical User Journey) testing on different Chromebook models and build log analysis system with EFK. Also using Grafana, Prometheus monitors the target devices CPU, memory and network bandwidth.",
            "Designing a server resource dispatcher which dispatch the server for service contains 1 to 3 Chrome instances that could communicate via CDP (Chrome Devtools Protocol) to build Zoom conferences with a lot of bots. And providing gRPC and RESTful interface for accessing.",
            "Contributing CUJ scenario cases and framework changes to Chromium open source project, includes tast and tast-tests repositories."]}
  />

  <ExperienceCard 
    company="IOEX"
    position="Blockchain Developer"
    startDate="Sep 2018"
    endDate="Jun 2019"
    tasks={["Ethereum smart contract development with Solidity.",
            "Transplant DPoS consensus into Elastos, Ethereum.",
            "Collecting transactions into database and implements RESTful APIs for Blockchain Explorer.",
            "Implements auto-transaction generator tool for blockchain pressure testing."]}
  />

  <ExperienceCard 
    company="Retair"
    position="Frontend Developer"
    startDate="May 2017"
    endDate="Aug 2018"
    tasks={["Used AngularJS and jQuery frameworks in the development of web applications.",
            "Developed UI components.",
            "Experience with consuming RESTful web services.",
            "Rendered visualization charts with ECharts, C3 libraries.",
            "Communicated updates in daily meeting using JIRA software.",
            "Provided multi-language support using i18n library.",
            "Cross-browser testing / implementation.",
            "Refactor existing code, enhancements and improvements overall code quality."]}
  />

  <ExperienceCard 
    company="Pegatron"
    position="Senior Firmware Developer"
    startDate="Apr 2012"
    endDate="Apr 2017"
    tasks={["Software design for JBOD and Server.",
            "Bridge and coordinate with cross-function teams, including EE, Power, QTR, QTC and Manufacturing side.",
            "Debugging and function verification.",
            "Develop BMC with AST2300, AST2400, AST2500 and PILOT-4 chips. Familiar with AMI code base.",
            "Working with Trac project management."]}
  /> -->
</section>  