---
const { experiences } = Astro.props;
import ExperienceCard from './ExperienceCard.astro';
---
<section class="bg-white p-5 rounded-lg shadow-md mb-8">
  <h2 class="border-b pb-2 mb-4 text-lg font-medium">Experience</h2>
    {experiences.map((exps) => (
          <ExperienceCard 
            company={exps.company}
            position={exps.position}
            startDate={exps.startDate}
            endDate={exps.endDate}
            tasks={exps.tasks}
          />
        )
      )
    }
</section>  